<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>codecamp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D0CFB3A1CBC19F000D71D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0CFB4E1CBC19F000D71D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0CFB591CBC19F000D71D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
